<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
  <title>{% block title %}{% endblock %}</title>

  <nav>
    <div class="navbar">
      <a href="{% url 'home-site' %}">dsgScanapp</a>
      <a href="{% url 'home-scan' %}">Rapports</a>
      <a href="#">Configuration</a>
    </div>
  </nav>

</head>

<body>
  <!-- {% block sidebar %} insert default navigation text for every page {% endblock %}-->
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}

</body>
</html>
