<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'core/sous-menus.css' %}">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'core/img/dsgscanapp_icon.png' %}" />

  <nav>
    <div class="navbar">
      <a href="{% url 'home-site' %}">dsgScanapp</a>
      <a href="{% url 'scan_history' %}">Rapports</a>
      <a href="{% url 'configuration_index' %}">Configuration</a>
    </div>
  </nav>

</head>

<body>
  <div class="titre_page">{% block titre_page %}{% endblock %}</div>
  <!-- {% block sidebar %} insert default navigation text for every page {% endblock %}-->
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}

</body>
</html>
