{% extends "core/base_generic.html" %}

{% block title %} Liste - Catégorie {% endblock %}

{% block titre_page %} Ajouter une catégorie {% endblock %}

{% block content %}

<form method="post" name="form">{% csrf_token %}
    <div class="formulaire" id="formulaire">
        {{ form.as_table }}
        <input type="submit" value="ajouter">
    </div>
</form>

<div class="rapport_card">
    Catégories existantes<hr>
    <ul>
    {% for categorie in categorie_list %}
        <li>{{ categorie.nom }}</li>
        {% empty %}
        <li>Aucune catégorie</li>
    {% endfor %}
    </ul>
</div>

{% endblock %}