{% extends "core/base_generic.html" %}

{% block title %} Liste des scans {% endblock %}

{% block titre_page %}Liste des hôtes{% endblock %}

{% block content %}

<table class="historique">
    <thead>
        <tr>
            <th>Hôtes</th>
            <th>Catégorie</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for host in object_list %}
            <tr>
                <td>{{ host.host }}</td>
                <td>{{ host.categorie }}</td>
                <td><a class="boutton" style="background-color: #c40808;" href="{% url 'host_delete' host.id %}">Supprimer</a></td>
            </tr>
        {% empty %}
            <tr>
                <td>Aucun hôte</td>
                <td>Aucun hôte</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}