{% extends "core/base_generic.html" %}

{% block title %} Liste des scans {% endblock %}

{% block titre_page %}Historique des scans{% endblock %}

{% block content %}

<table class="historique">
    <thead>
        <tr>
            <th>Hôtes</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for scan in object_list %}
            <tr>
                <td>{{ scan.host }}</td>
                <td>{{ scan.date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>Aucun scan</td>
                <td>Aucun scan</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}