{% extends "core/base_generic.html" %}

{% block title %} Détails - scan {% endblock %}

{% block titre_page %} Détails du scan {% endblock %}

{% block content %}

{% for scan in object %}
    <!-- {% for key, value in scan.ports.items %}<p><strong> :  {{value.name}}</strong>{% endfor %}-->
<div class="rapport_card">
    Ports TCP de {{ scan.host }}<hr>
    {% for key, value in scan.ports.items %} {% if value.state == 'open' %} <div class="port"/> {% else %} <div class="portClose"/> {% endif %} {{key}} </div> {% endfor %}<hr>
     <ul>
    {% for key, value in scan.ports.items %}
         <li>{{value.name}}: {{value.product}}  {{value.version}} - <span style="{% if value.state == 'open' %}color: #019f06;{% else %}color: red;{% endif %}"> {{value.state }}</span> </li>
         {% endfor %}
    </ul>

    Ports UDP <hr>
    {% for key, value in scan.portsUDP.items %} {% if value.state == 'open' %} <div class="portUDP"> {% else %} <div class="portClose"> {% endif %} {{key}} </div> {% endfor %}<hr>
     <ul>
    {% for key, value in scan.portsUDP.items %}
         <li>{{value.name}} : {{value.product}}  {{value.version}} - <span style="{% if value.state == 'open' %}color: #019f06;{% else %}color: red;{% endif %}"> {{value.state }}</span>   </li>
         {% endfor %}
    </ul>


</div>
{% endfor %}


{% endblock %}