{% extends "core/base_generic.html" %}

{% block title %} Historique - scan {% endblock %}

{% block titre_page %}Historique des scans{% endblock %}

{% block content %}

<table class="historique">
    <thead>
        <tr>
            <th>Catégorie</th>
            <th>Date</th>
            <th>Rapport</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for scan in object_list %}
            <tr>
                <td>{{ scan.categorie }}</td>
                <td>{{ scan.date }}</td>
                <td><a class="boutton" href="{% url 'scan_details' scan.scan_id %}">Voir le rapport</a></td>
                <td><a class="boutton" style="background-color: #c40808;" href="{% url 'scan_delete' scan.scan_id %}">Supprimer</a></td>

            </tr>
        {% empty %}
            <tr>
                <td>Aucun scan</td>
                <td>Aucun scan</td>
                <td>0</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}