.sous-menu {
  text-align:center;
  /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
  margin-left:-20px;
  marin-right:-20px;
}

.sous-menu_button-scan {
    border: 2px solid black;
    background: #f09646;
    width: 18rem;
    display: inline-block;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 5rem;
    font-weight: bold;
    font-family: Helvetica;
    border-color: #9f4c06;
    cursor: pointer;
}

.sous-menu_button-img {
    display: block;
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.sous-menu_button-scan:hover {
    background: #e17c26;
    transition: 0.3s;
}

.sous-menu_button-categorie {
    background: #ee5740;
    width: 18rem;
    display: inline-block;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 5rem;
    font-weight: bold;
    font-family: Helvetica;
    border-color: #800404;
    cursor: pointer;
}

.sous-menu_button-categorie:hover {
    background: #c1250d;
    transition: 0.3s;
}


.sous-menu_button-create-categorie {
    background: #3ede59;
    width: 18rem;
    display: inline-block;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 5rem;
    font-weight: bold;
    font-family: Helvetica;
    border-color: #07951f;
    cursor: pointer;
}

.sous-menu_button-create-categorie:hover {
    background: #19ae33;
    transition: 0.3s;
}

.sous-menu_button-add-host {
    background: #2199ca;
    width: 18rem;
    display: inline-block;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-top: 5rem;
    font-weight: bold;
    font-family: Helvetica;
    border-color: #00435f;
    cursor: pointer;
}

.sous-menu_button-add-host:hover {
    background: #036b96;
    transition: 0.3s;
}