.navbar {
    background-color: #34313b;
    padding: 2rem;
    clear:left;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Helvetica;
    font-weight: bold;
    color: #f0e9ff;
    padding: 0px 50px;
}

.navbar a:first-child {
    float: left;
}


.navbar .logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Helvetica;
    font-weight: bold;
    color: #f0e9ff;
}

body {
    margin: 0;
    padding: 0;
}

.titre_page {
  color: #454646;
  text-align: center;
  margin-top: 5rem;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 2rem;
  background: #f9fcfd;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 2px solid #454646;
  box-shadow: 10px 5px 5px #454646;
}