{% extends "core/base_generic.html" %}

{% block title %} Accueil {% endblock %}

{% block titre_page %}DsgScanAPP{% endblock %}


{% block content %}

<div style="font-family: Arial, Helvetica, sans-serif;margin-top: 4rem;font-weight: bold;color: #181818;margin-right: auto;margin-left: auto;width: 50%;">Bienvenue sur l'application dsgScanapp qui va vous permettre de réaliser des rapports de scan réalisés sur Nmap.<br/>
    Vous trouverez différentes sections tel que :
    <ul>
        <li>Rapports - pour consultez les rapports de vos scans</li>
        <li>Configurations - pour créer vos catégories et y insérez vos hôtes pour lancer votre premier scan</li>
    </ul>
</div>

{% endblock %}